<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="LOG_FILE_BASE" value="./logs/workflow/" />

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="sId" converterClass="xyz.chener.zp.logger.logback.ServerIdClassicConverter" />
    <conversionRule conversionWord="iId" converterClass="xyz.chener.zp.logger.logback.InstanceIdClassicConverter" />

    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss}}) [%tid] [%sId-%iId] %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="CONSOLE_LOG_CHARSET" value="${CONSOLE_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>

    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}} [%tid] [%sId-%iId]  ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="FILE_LOG_CHARSET" value="${FILE_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>


    <property name="JSON_LOG_PATTERN" value="
    {
        &quot;time&quot;:&quot;%d{yyyy-MM-dd HH:mm:ss.SSS}&quot;,
        &quot;tid&quot;:&quot;%tid&quot;,
        &quot;sId&quot;:&quot;%sId&quot;,
        &quot;iId&quot;:&quot;%iId&quot;,
        &quot;level&quot;:&quot;%level&quot;,
        &quot;thread&quot;:&quot;%t&quot;,
        &quot;logger&quot;:&quot;%logger&quot;,
        &quot;message&quot;:&quot;%msg&quot;
    }"/>



    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </layout>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="ES_APPENDER" class="xyz.chener.zp.logger.logback.LogPushEsAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${JSON_LOG_PATTERN}</pattern>
            </layout>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>


    <appender name="SKYWALKING_LOG" class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.log.GRPCLogClientAppender" >
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
    </appender>


    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_BASE}out.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_BASE}out.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_LOG" />
        <appender-ref ref="FILE_LOG" />
        <appender-ref ref="SKYWALKING_LOG" />
        <appender-ref ref="ES_APPENDER" />
    </root>

</configuration>
